.order-ticket-container {
    &:not(:last-child) {
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 20px;
    }
    .label {
      color: #666666 !important;
      font-weight: normal;
      font-size: 0.9em;
      padding: 0;
    }
    .ticket-ticket-type {
      h4 {
        font-size: 1.5em;
      }
    }
    .ticket-owner-email {
      font-size: 1.1em;
    }
    svg.copy-icon {
      color: #2196f3;
      margin-left: 5px;
      margin-bottom: -2px;
      cursor: pointer;
    }
    .ticket-list-container {
      .ticket-no-container {
        margin: 3px 0;
        font-size: 0.9em;
        span {
          display: inline-block;
        }
        .ticket-ticket-number {
          display: inline-block;
          width: 90px;
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          direction: rtl;
          margin-bottom: -5px;
        }
      } 
    } 
    .order-wrapper {
      padding: 0;
      margin: 0;
      border-radius: 3px;
      border: 1px solid #bdbdbd;
      max-width: 643px !important;
      position: relative;
      min-height: 178px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:after {
        background: #ffffff;
        position: absolute;
        content: '';
        right: -1px;
        top: 35%;
        width: 25px;
        height: 50px;
        border-radius: 150px 0 0 150px;
        border: 1px solid #bdbdbd;
        border-right-color: transparent;
      }
    }
  }
  